<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">
      <%= __('friend_website_links') %>
    </h3>
    <div class="widget">
      <ul>
        <li>
          <a href="https://comellia.com/">Comellia</a>
        </li>
        <li>
          <a href="https://littlecheesecake.me/">LittleCheeseCake</a>
        </li>
        <li>
          <a href="https://huntscreens.com/zh">HuntScreens</a>
        </li>
					<a href="http://www.folklore.org">HSteve Jobs And Macintosh</a>
			  </li>
      </ul>
    </div>
  </div>
  <% } %>